<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Carrito de Compras</title>
</head>
<body>

<h1>Carrito de Compras</h1> 
{{#if products.length}}
<ul>
    {{#each products}}
    <li>
      <h2>Producto: {{product.title}}</h2>
      <p>Descripción: {{product.description}}</p>
      <p>Imagen: {{product.thumbnail}}</p>
      <p>Precio: {{product.price}}</p>
      <p>Categoría: {{product.category}}</p>
      <p>Cantidad: {{quantity}}</p>
    </li>
    {{/each}}
  </ul>

<h3>Total del carrito: {{totalAmount}}</h3>

  
  <form action="http://localhost:8083/api/carts/{{cartId}}/purchase" method="POST">
  <button type="submit">Finalizar compra</button>
  </form>
  {{else}}
      <p>El carrito está vacío.</p>
  {{/if}}
 
</body>
</html>

