
</html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Productos</title>
</head>
<body>

  {{#if status}}
    <p>Status: {{status}}</p>
  {{/if}}

  {{#if payload}}

  {{#if payload.email}}
      {{!-- <h1>Bienvenido, {{payload.user.email}} (Rol: {{payload.user.role}})</h1> --}}

    {{/if}}
    {{#if payload.products}}
      <h1>Lista de Productos</h1>
      
    <ul>
  {{#each payload.products}}
    <li>
      <h2>Producto: {{this.title}}</h2>
      <p>Descripción: {{this.description}}</p>
      <p>Imagen: {{this.thumbnail}}</p>
      <p>Precio: {{this.price}}</p>
      <p>Categoría: {{this.category}}</p>
      

      <form action="http://localhost:8083/api/carts/{{../payload.cartID}}/products/{{this._id}}" method="POST">
        <input type="hidden" name="title" value="{{this.title}}">
        <input type="hidden" name="description" value="{{this.description}}">
        <input type="hidden" name="price" value="{{this.price}}">
        <input type="hidden" name="quantity" value="{{this.quantity}}">
        <button type="submit">Agregar al carrito</button>
      </form>
    
    </li>
  {{/each}}
</ul>
{{payload.cartID}}
        <div>
        {{#if payload.hasPrevPage}}
          <a href="/products?pageQuery={{payload.prevPage}}">Anterior</a>
        {{/if}}
        <label>{{payload.page}}</label>
        {{#if payload.hasNextPage}}
          <a href="/products?pageQuery={{payload.nextPage}}">Siguiente</a>
        {{/if}}
      </ul>
    {{else}}
      <p>{{payload.message}}</p>
    {{/if}}
  {{/if}}
</div>


</body>
</html>
